@import url('https://js.arcgis.com/4.14/esri/css/main.css');

.esri-view {
  height: 100vh;
}

.division {
  border-width: 3px;
  border-color: #888888;
  border-style: solid;
}

.information {
  height: 100vh;
  overflow: auto;
}
table {
  font-size: 12px;
  letter-spacing: -0.062em;
}

